body {
  font-family: helvetica neue, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

footer {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  margin-top: 1em;
}

a {
  color:black
}

a:hover {
  color: rgba(0,0,0,.80);
}

p {
  font-size: 12pt;
  color: rgba(0,0,0,.80);
}

h1 {
  font-size: 40pt;
  color: rgba(0,0,0,.80);
}

h2 {
  font-size: 22pt;
}

.container{
  display: grid;
  grid-template-columns: auto 45em auto;
}

.center-grid {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-left: 1em;
  background-color: #f5f5f5;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: .7em;
}

.intro {
  background-color: #96ceb480;
  padding-top: 0;
  padding-bottom: 0;
}

.about {
  background-color: #ffeead80;
}

.technical {
  background-color: #ffcc5c80;
}

.contact {
  background-color: #ff6f6980;
}

.intro, .about, .technical, .contact {
  -moz-box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  padding-left: 1em;
  padding-right: 1em;
}
.left-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #f5f5f5;
}

.right-grid {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #f5f5f5;
}


