<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zac Demi</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>

<body>
  <div class="container">

    <div class="center-grid">

      <div class="intro">
      <h1>Zac Demi</h1>
      </div>

      <div class="about">
      <h2>About</h2>
        <p>I am Zac, a Python Programmer, Data Analyst and Teacher.</p>
      </div>

      <div class="technical">
      <h2>Technical Projects</h2>

      <ul>
        <li>
          <p>
            Adipisicing amet deserunt at facilis odit Molestias nam repudiandae veritatis ut maxime? Perferendis nobis neque deserunt officiis dolorem! Ipsam nisi aspernatur vel molestias vero? Tempora odit sit similique ipsum ullam Sunt sed doloremque fuga doloribus natus debitis ullam? Cum inventore voluptatem deleniti fugit possimus Quaerat quia modi fugiat debitis dolorum Modi velit laudantium repellendus animi dolores Labore quos quibusdam accusamus voluptate qui nemo. Ipsum quaerat vero omnis corrupti dolores Quae atque perferendis saepe aliquid provident, ut Sint voluptas omnis ab ut repudiandae Quis deserunt tenetur laboriosam beatae facere Omnis pariatur laborum ipsam temporibus voluptatem? Quae reiciendis ipsam dolorem obcaecati corrupti.
          </p>
        </li>
        <li>
          <p>
            Dolor soluta quam magni dolores esse Autem ea dignissimos nihil adipisci beatae Veniam error consequatur voluptate architecto modi Ut cupiditate minima dicta quam placeat! Iusto pariatur cum quod corrupti fugiat. Quam voluptatum sint quod doloremque saepe? Suscipit fugit odio veniam consectetur porro, magni facere? Quisquam commodi esse porro nobis veritatis Accusamus ipsa quia esse voluptatum quis Velit necessitatibus repudiandae quidem dolores mollitia quam deserunt, perspiciatis, molestiae. Omnis quod repudiandae ex aperiam quaerat Veniam voluptatem maxime obcaecati provident enim labore Fugit tenetur harum architecto quisquam id Natus ratione quo maxime eaque numquam? Cumque sapiente enim officiis inventore suscipit numquam! Quas nemo
          </p>
        </li>
        <li>
          <p>
            Elit fugit reiciendis voluptatibus amet beatae suscipit. Provident aliquam adipisci dolorum voluptatibus alias molestiae. Voluptates harum porro omnis pariatur dolores. Harum animi assumenda vero vel qui? Adipisci ipsam facere delectus deleniti dolorum Tempore a cum vero voluptas minus Eveniet ipsum exercitationem at ea officiis quo ullam Cumque ipsum illo soluta perferendis iusto temporibus. Expedita enim saepe quidem similique iste id. Officia officiis ad tenetur illum consequuntur, illum Libero aspernatur exercitationem nulla alias itaque. Dolorem asperiores pariatur qui minima sapiente nulla Tenetur corrupti consequuntur maiores consequatur voluptas? Itaque corrupti iste modi earum molestias Reiciendis provident repellendus soluta recusandae officiis odio! Excepturi
          </p>
        </li>
        <li>
          <p>
            Dolor labore alias quod dolorum at Nemo ab laboriosam qui est exercitationem. Illo totam ea soluta nesciunt asperiores quis beatae Sint qui tempora beatae maxime libero! Nemo facere totam reiciendis doloremque odit. Nihil ex rem numquam error autem Blanditiis fuga necessitatibus inventore voluptatum quas veritatis! Eveniet quae molestiae alias voluptate laboriosam? Eligendi aliquid debitis illum ab incidunt Molestiae eaque dignissimos numquam a modi deleniti? Vitae quod deserunt numquam voluptatibus quia Praesentium et eius officia inventore culpa. Mollitia animi culpa aspernatur corrupti natus suscipit maiores! Explicabo animi iusto necessitatibus ratione qui, earum Itaque veritatis quam reiciendis dolore quo Possimus nisi dolorum.
          </p>
        </li>
      </ul>
      
      
      </div>

      <div class="contact">
      <h2>Contact</h2>
      <p>zac.demi@gmail.com | 6108361870</p>

      </div>

    </div>

    <div class="left-grid"></div> 
    <div class="right-grid"></div>

  </div>
<body>
</html>


