<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zac Demi</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
  <div class="container">

    <div class="center-grid">

      <div class="intro">
      <h1>Zac Demi</h1>
      </div>

      <div class="about">
      <h2>About</h2>
        <p>Hi, I'm Zac I use Python to solve business problems and build applications. 
        </p>
      </div>

      <div class="technical">
      <h2>Technical Projects</h2>

      <ul>
        <li>
          <p><b>Scale Jenga:</b> Is a digital scale designed to make JENGA® fast and fun for the whole family. Each game consists of 120 seconds divided among players. When the tower falls, the player with the most remaining time wins! Pause blocks and data analytics add an additional level of fun to this timeless classic.</p>
        </li>
        <li>
          <p><b>Steppodium:</b> A step tracking app for corporate wellness competitions. Features included email validated registration, log-ins, profiles, random team generation, and live leaderboards. Over 10 millions steps were entered during a national summer competition. </p>
        </li>
        <li>
          <p><b>Get Proverbs:</b> A SMS delivery service sending words of wisdom directly to your phone. Subscribers can select unique themes and frequency. During initial launch over 12,000 text messages were sent to 70 subscribers. </p>
        
        </li>
      </ul>
      
      
      </div>

      <div class="contact">
      <h2>Contact</h2>
      <p>zac.demi@gmail.com</p>

      </div>

    </div>

    <div class="left-grid"></div> 
    <div class="right-grid"></div>

  <footer>
      <b>powered by </b>
      <i class="fab fa-aws fa-2x" style="vertical-align: middle"></i>
      <b>+</b>
      <i class="fab fa-python fa-2x" style="vertical-align: middle"></i>
  </footer>

  </div>
  
<body>


</html>


